.header {
  display: flex;
  height: 80px;
  width: 100% vh;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  

  .menu  p {
    color: #667085;
    font-weight: bold;
    


    &:hover {
      color: #2a2b2e;

    }
  }
}

.header_links {
  display: flex;
  padding: 5px 112px 0 112px;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  
  p {
    margin-right: 10px;
  }
  
  button {
    background-color: #8E2424;
    color: #fff;
    border: none;
    height: 44px;
    width: 112px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    font-weight: bold;  
    font-size: 20px;


    &:hover {
      background-color: #a55656;
    }
  }
}

.header_img {
  margin-right: 5px;
}