

.content-metrica {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  flex-grow: 1;
  padding: 0 10px;
  margin-bottom: 96px;

  div {
    width: 280px;
    height: 168px;
  }

  span {
    color: $corSpan;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
  }

  h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $corP;
  }
}